.footer{
    margin-top: 200px;
    background-color: rgba(133, 119, 119, 0.953);
    padding: 20px;
  }
  
.footer1{
    color: black; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
  }
  .footer a{
    color: whitesmoke;
    text-decoration: none;
  }
  